crochet==1.12.0
Twisted==20.3.0
botocore==1.15.39
opencv_python==4.2.0.34
rq==1.3.0
pymongo==3.9.0
Flask==1.1.1
requests==2.23.0
redis==3.4.1
boto3==1.12.12
MarkupSafe==1.1.1
Flask_Cors==3.0.8
arlo==1.2.35
pytz==2019.3
gunicorn
